.body{
	margin-top: 100px;
	overflow-x:hidden;
	overflow-y:hidden;
}
#left{
	overflow-y:auto;
	overflow-x:auto;
	max-height:500px;
}
#right{
	float: left;
	overflow: hidden;
}
iframe{
	height: 500px;
	width: 100%;
}