.body{
	overflow-x:hidden;
	overflow-y:hidden;
}
#top{
	height:200;
	background: rgba(0, 0, 0, 0) url("../images/top_background.png") repeat fixed 0 0;
}
#left{
	background: rgba(0, 0, 0, 0) url("../images/left_background.png") repeat fixed 0 0;
	width: 200px;
    overflow: auto;
    border: 1px solid #ccc;
}
#right {
	overflow: hidden;
}
.panel-group{
	margin-right: 0px;
}
iframe {
	border:0;
	width:100%;
	height:100%;
}